body{
    padding: 15px;
    background-color: cyan;
}
label{
    font-weight: bold;
}
.name{
    padding: 15px;
}
.choose{
    padding: 15px;
}
.button{
    padding-left: 15px;
}
p{
    background-color: burlywood;
    padding-left: 15px;
}