
h1 {
    font-family: helvetica, arial, sans-serif;
    text-align: center;
}
.full-img {
    position: relative;
    display: block;
    width: 640px;
    height: 480px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 620px;
    height: 460px;
    background-color: rgba(0,0,0,0);
  }
  body {
    width: 640px;
    margin: 0 auto;
  }
  .thumb-bar img {
    display: block;
    width: 20%;
    float: left;
    cursor: pointer;
  }
  button {
    border: 0;
    background: rgba(46, 45, 45, 0.6);
    text-shadow: 1px 1px 1px rgb(35, 29, 29);
    border: 1px solid #fdfbfb;
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 2px;
  }